<div class="container my-5">
  <h2>Symptômes du Coronavirus</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit...
  </p>
  
  <div class="row gy-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img src="assets/fever.png" class="me-3" alt="Forte fièvre" width="50" />
          <div>
            <h5 class="card-title">Forte fièvre</h5>
            <p class="card-text">Lorem ipsum dolor sit amet...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img src="assets/cough.png" class="me-3" alt="Toux" width="50" />
          <div>
            <h5 class="card-title">Toux</h5>
            <p class="card-text">Lorem ipsum dolor sit amet...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img src="assets/troath.png" class="me-3" alt="Gorge irritée" width="50" />
          <div>
            <h5 class="card-title">Gorge irritée</h5>
            <p class="card-text">Lorem ipsum dolor sit amet...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body d-flex align-items-center">
          <img src="assets/headache.png" class="me-3" alt="Migraine" width="50" />
          <div>
            <h5 class="card-title">Migraine</h5>
            <p class="card-text">Lorem ipsum dolor sit amet...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
